RewriteEngine On

# Redirect /file.php to /file
RewriteCond %{THE_REQUEST} \s([^\s]+)\.php[\s?] [NC]
RewriteRule ^ %1 [R=301,L]

# If requested resource is not a file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# But if .php version exists, serve that internally
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]
